@{
    ViewBag.Title = "Welcome";
    ViewBag.Message = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the Volunteer and Non-profit Matching application. This was
                created at New England Give Camp 2013 from April 26 to 28th. The goal
                of this application is to provide an easy and intuitive workflow for
                matching volunteers and non-profits for future Give Camps.
            </p>
        </div>
    </section>
}
