@model GCDataTier.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2 class="object-title">Details</h2>

<fieldset>
    <legend>Skill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkillCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkillCategory)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SkillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
